{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-12">
            <form action="">
                {{ form }}
                <input type="submit" value="Search">
            </form>

        </div>
    </div>

    <div class="row" style="margin-top: 50px">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">name</th>
                    <th scope="col">description</th>
                </tr>
                </thead>
                <tbody>
                {% for person in persons %}
                    <tr>
                        <td>{{ person.name }}</td>
                        <td>{{ person.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
